
.quote {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;

  &.quote h1 {
    color: white;
    font-family:"EB Garamond Italic";
    text-shadow: goldenrod 0px 0 20px;
  }
}
.signupHeight {
  height: 80vh;
  padding: 10px;
}
.signup-form1 {
    display: flex;
    /* flex-direction:column; */
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border: auto solid transparent;
    border-radius: 5px;
  }
.postersignup {
    height : 50px;
    width :70px;
}
.logo {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 10px;
 padding: 10px;
}
.signup-form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 5px;
    padding: 20px;
    background-color: lightslategrey;
    border: auto solid white;
    border-radius: 5px;
    & .form1 {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
}
  input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    margin: auto;
  }
  select {
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
  }
  
  button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: goldenrod;
  }
  @media (max-width: 900px) {
    .logo h2 {
      display:flex;
    }
    .logo img{
      display: none;
    }
  }
  @media (max-width: 350px) {
    .logo h2 {
      display: none;
    }
    .logo img{
      display: none;
    }
  }