section2 {
  padding: 0px;
  margin: 0px;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.slider img {
    height: 500px;
    width: 100%;
}

@media (max-width: 768px) {
  .slider {
    width: 100%;
  }
}
